<!DOCTYPE html>
<html>
{{ include('header.html.twig') }}
<div class="content">
    <h1 class="header-heading">Fill the form to create booking Page</h1>
</div>
{{ include('footer.html.twig') }}
</html>